<div class="jumbotron">
    <h1>BMI 計算器</h1>
    <p class="lead">A .NET sister hands-on Lab Example.</p>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label for="exampleInputEmail1">身高</label>
            <input type="text" class="form-control" id="txtHeight" placeholder="請輸入身高">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">體重</label>
            <input type="text" class="form-control" id="txtWeight" placeholder="請輸入體重">
        </div>
        <div class="form-group">
            <button type="button" id="cmdCalc" class="btn btn-default"> 計算女生 </button>
            <button type="button" id="cmdCalcMen" class="btn btn-default"> 計算男生 </button>
        </div>
    </div>
    <div class="col-md-5">
        <i id="faceIcon" style="font-size: 240pt"></i>
    </div>
@section scripts {
<script type="text/javascript">
    $(function () {

        $("#cmdCalc").click(function (e) {
            e.preventDefault();

            var height = $("#txtHeight").val();
            var weight = $("#txtWeight").val();

            if (height == "") {
                alert("請輸入身高");
                return;
            }

            if (weight == "") {
                alert("請輸入體重");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/api/BMI/Women",
                data: "height=" + height + "&weight=" + weight,
                dataType: "json",
                success: function (response) {

                    $("#faceIcon")
                        .removeClass("fa fa-meh-o")
                        .removeClass("fa fa-smile-o")
                        .removeClass("fa fa-frown-o");

                    if (response == "太瘦") {
                        $("#faceIcon").addClass("fa fa-meh-o");
                    }
                    else if (response == "剛好") {
                        $("#faceIcon").addClass("fa fa-smile-o");
                    }
                    else {
                        $("#faceIcon").addClass("fa fa-frown-o");
                    }
                }
            });

        });
        
        $("#cmdCalcMen").click(function (e) {
            e.preventDefault();

            var height = $("#txtHeight").val();
            var weight = $("#txtWeight").val();

            if (height == "") {
                alert("請輸入身高");
                return;
            }

            if (weight == "") {
                alert("請輸入體重");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/api/BMI/Men",
                data: "height=" + height + "&weight=" + weight,
                dataType: "json",
                success: function (response) {

                    $("#faceIcon")
                        .removeClass("fa fa-meh-o")
                        .removeClass("fa fa-smile-o")
                        .removeClass("fa fa-frown-o");

                    if (response == "太瘦") {
                        $("#faceIcon").addClass("fa fa-meh-o");
                    }
                    else if (response == "剛好") {
                        $("#faceIcon").addClass("fa fa-smile-o");
                    }
                    else {
                        $("#faceIcon").addClass("fa fa-frown-o");
                    }
                }
            });

        });

    });
</script>
    }